body {
  background-cstyle.cssolor: rgb(183, 170, 194);
}

#keyboard {
  width: 50%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button{
  font-size: 50px;
}

#statusPhone{
  width: 50%;
  height: 10%;
  border: none;
  font-size: 50px;  
  text-align: center;
  margin-top: 30px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#inputBox{
  width: 50%;
  height: 10%;
  font-size: 70px;
  letter-spacing: 10px;  
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#call_number {
  width: 50%;
  height: 8%;
  background-color: rgb(60, 143, 60);
  color: white;
  font-size: 25px;
  padding: 8px 16px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  position: absolute;
  top: 90.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hung_up {
  width: 50%;
  height: 8%;
  background-color: rgb(207, 71, 71);
  color: white;
  font-size: 25px;
  padding: 8px 16px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  position: absolute;
  top: 90.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clean {
  width: 50%;
  height: 8%;
  background-color: rgb(39, 121, 168);
  color: white;
  font-size: 25px;
  padding: 8px 16px;
  border: none;
  border-radius: 1px;
  cursor: pointer;  
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
